<configuration debug="true">
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>/log/events.log</File>
        <encoder>
            <Pattern>%d %p %t %c - %m%n</Pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="controller"/>
    <logger name="service"/>

    <root level="debug">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>